Chapter 12, page 291

In [20]:
from numpy.random import default_rng
import pandas as pd

NUM_DATA_POINTS = 10
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
rng = default_rng()
data = rng.standard_normal(NUM_DATA_POINTS)

s1 = pd.Series(data, index=index)
s2 = pd.Series(data)

print("s1:", s1, "\n")
print("s2:", s2, "\n")

s1: a   -1.358424
b   -0.455214
c   -0.236859
d    0.178775
e    1.284913
f   -0.214073
g    0.733693
h   -0.504532
i   -0.859706
j   -0.292730
dtype: float64

s2: 0   -1.358424
1   -0.455214
2   -0.236859
3    0.178775
4    1.284913
5   -0.214073
6    0.733693
7   -0.504532
8   -0.859706
9   -0.292730
dtype: float64

In [21]:
print("selecting elements")
print(s1[['h', 'b']], "\n")  # select items from series

print(s1[['a', 'b', 'c']], "\n")  # select items from series

print(s2[[0, 3, 7]], "\n")

selecting elements
h   -0.504532
b   -0.455214
dtype: float64

a   -1.358424
b   -0.455214
c   -0.236859
dtype: float64

0   -1.358424
3    0.178775
7   -0.504532
dtype: float64

In [22]:
print("slice of elements")
print(s1['b':'d'], "\n")  # select slice of elements

slice of elements
b   -0.455214
c   -0.236859
d    0.178775
dtype: float64

In [23]:
# get stats on series
print("sum(), mean(), min(), max():")
print(s1.sum(), s1.mean(), s1.min(), s1.max(), "\n")

sum(), mean(), min(), max():
-1.7241570205198369 -0.1724157020519837 -1.3584243729837686 1.284913055205982

In [24]:
# get stats on series
print("cumsum(), cumprod():")
print(s1.cumsum(), s1.cumprod(), "\n")

cumsum(), cumprod():
a   -1.358424
b   -1.813639
c   -2.050498
d   -1.871722
e   -0.586809
f   -0.800883
g   -0.067189
h   -0.571721
i   -1.431427
j   -1.724157
dtype: float64 a   -1.358424
b    0.618374
c   -0.146467
d   -0.026185
e   -0.033645
f    0.007203
g    0.005284
h   -0.002666
i    0.002292
j   -0.000671
dtype: float64

In [25]:
# numbers = [1, 5, 3, 7, 8, 2, 9]
# print(5 in numbers)
# print(10 in numbers)

print('a' in s1)  # test for existence of label
print('m' in s1)  # test for existence of label
print()

True
False

In [26]:
# create new series with every element of s1 multiplied by 10
s3 = s1 * 10  
print("s3 (which is s1 * 10)")
print(s3, "\n")

s3 (which is s1 * 10)
a   -13.584244
b    -4.552143
c    -2.368589
d     1.787754
e    12.849131
f    -2.140733
g     7.336931
h    -5.045315
i    -8.597061
j    -2.927300
dtype: float64

In [28]:
s1['e'] *= 5
print(s1, "\n")

a    -1.358424
b    -0.455214
c    -0.236859
d     0.178775
e    32.122826
f    -0.214073
g     0.733693
h    -0.504532
i    -0.859706
j    -0.292730
dtype: float64